


<button type="button" class="btn btn-primary" (click)="refresh()"  [disabled]="!hasAvailability()" data-toggle="modal" [attr.data-target]="'#addOrderDetailsModal'+ product._id">
  Añadir : {{checkAvailability()}}
</button>

<!-- Modal -->
<div class="modal fade" id="addOrderDetailsModal{{product._id}}" tabindex="-1" role="dialog" aria-labelledby="addOrderDetailsModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addOrderDetailsModalLabel">Modal title: {{checkAvailability()}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-forms [controls]="controls" [isModal] = "true" [idModal] = "product._id" (onSubmitCallback)="onSubmit($event)"  (onCompleteForm) = onCompleteForm($event)></app-forms>
      </div>
     
    </div>
  </div>
</div>