<app-nav-barrestaurant></app-nav-barrestaurant>
<h1>
  Displaying {{ data.length }} {{moduleName}}.
</h1>

<div>    
  <a routerLink="/dishesadd" routerLinkActive="active" class="btn btn-primary">
    Add
  </a>
</div>

<table class="table">
  <thead class="thead-dark">
    <tr>   
	   <th scope="col">Id</th> 
<th scope="col">V</th> 
<th scope="col">Nombre</th> 
<th scope="col">Precio</th> 
<th scope="col">Imagen</th> 
<th scope="col">description</th> 
<th scope="col">Modificar</th> 
<th scope="col">Remover</th> 



    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let singleData of data">  
    
       <th scope="row"> 
<a routerLink="{{singleData._id}}" routerLinkActive="active"> 
{{ singleData._id }} 
</a> 
</th> 
<td>{{ singleData.__v }}</td> 
<td>{{ singleData.dish_name }}</td> 
<td>{{ singleData.dish_precio }}</td> 
<td><img width = "200" height = "200" src = "{{ singleData.dish_image }}" /></td> 
<td>{{ singleData.dish_description }}</td> 

    
      <td><a routerLink="/dishesedit/{{singleData[keyName]}}" type="button" class="btn btn-info">Modificar</a></td>
      <td><button (click)="removeData(singleData[keyName])" type="button" class="btn btn-danger">Remover</button></td>
    </tr>
  </tbody>
</table>

